In [11]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

In [12]:
train_reviews = pd.read_csv('IMDB Dataset.csv')

In [13]:
test_reviews=train_reviews[:25000]
train_reviews=train_reviews[25000:]

In [15]:
from scipy.sparse import csr_matrix

a=np.zeros([5,5])
a[0,3]=1
a[4,4]=6
a[2,2]=5
a[3,1]=4
a[3,2]=2
a[1,1]=7

In [16]:
a

array([[0., 0., 0., 1., 0.],
       [0., 7., 0., 0., 0.],
       [0., 0., 5., 0., 0.],
       [0., 4., 2., 0., 0.],
       [0., 0., 0., 0., 6.]])

In [18]:
pd.DataFrame(a,columns=['apple','wax','sadness','luck','girl'])

   apple  wax  sadness  luck  girl
0    0.0  0.0      0.0   1.0   0.0
1    0.0  7.0      0.0   0.0   0.0
2    0.0  0.0      5.0   0.0   0.0
3    0.0  4.0      2.0   0.0   0.0
4    0.0  0.0      0.0   0.0   6.0

In [19]:
b=csr_matrix(a)

<5x5 sparse matrix of type '<class 'numpy.float64'>'
	with 6 stored elements in Compressed Sparse Row format>

In [22]:
from sklearn.feature_extraction.text import CountVectorizer

In [23]:


cv=CountVectorizer()
X_train_sparse=cv.fit_transform(train_reviews.data)

AttributeError: 'DataFrame' object has no attribute 'data'